<div id="wrapper">

    <div class="row justify-content-center">
        <h1>Star Wars News</h1>
    </div>
    <div class="row justify-content-center">
        <button>Scrape the Galaxy for News!</button>
    </div>
    <div class="row">
        <div class="col-sm">
            <div id="articles"></div>
        </div>
        <div class="col-sm d-flex justify-content-center">
            <div id="notes">
                <h3 id="h3">Click an article to leave a comment!</h3>
            </div>
        </div>
    </div>

</div>