body { 
    background: url("https://www.wired.com/images_blogs/underwire/2013/02/parallax-hyperspace-stars1.jpg");
    color:#EDE745;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  height: 500px;
  margin: 1%;
}
#comments {
  float: right;
  width: 85%;
  margin: 1%;

}
textarea, input {
  display: block;
  width: 100%;
  background-color: white;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}
h1 {
  margin: 1%;
}
button {
  margin: 1%;
}
p {
  border-style: solid;
  border-color: white;
}
.col-sm {
  margin: 1%;
  border-style: solid;
  border-color: #1D5681;
}